[Unit]
Description=SecureNotes
After=network.target

[Service]
WorkingDirectory=/home/pi/SecureNotes
ExecStart=/home/pi/.dotnet/dotnet /home/pi/SecureNotes/SecureNotes.dll
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
KillSignal=SIGINT
SysLogIdentifier=SecureNotes
User=pi
# Environment=ASPNETCORE_ENVIRONMENT=Development

[Install]
WantedBy=multi-user.target



--

systemctl daemon-reload
sudo systemctl enable securenotes.service
sudo systemctl start securenotes.service
sudo systemctl stop securenotes.service



#docker:
#-------------------
#build:
docker buildx build --platform linux/amd64/v8 -t securenotes -f Dockerfile .
#run
docker run -d --platform linux/amd64 -p 81:4004 --name bla securenotes:latest
docker run -d --platform linux/amd64 -p 810:4004 --name sn1 securenotes:latest

docker save myimage:latest | gzip > securenotes:latest.tar.gz

docker save -o securenotes:latest.tar

-platform linux/arm64/v8


docker load < X.latest.tar.gz




------------
 docker buildx build --platform linux/amd64 -t securenotes -f Dockerfile .
 docker save securenotes:latest -o X.latest.tar.gz
 # .. transfer ...
 docker rm sn1
 docker load < X.latest.tar.gz
 docker run -d --platform linux/amd64 -p 81:4004 --name securenotes securenotes:latest
