@model TextViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Summernote</title>
</head>

<body>
     <div id="alert" class="alert alert-warning" role="alert">
        
    </div> 

    <div id="summernote"></div>

    <script>
        $(document).ready(function() {

            $('#summernote').summernote();

            //var to =0;

            var text = '@Model.Text';
            if (text)
                $('#summernote').summernote('editor.pasteHTML'  ,htmlDecode(text));

            $('#summernote').on('summernote.change', function(we, contents, $editable) {
               

                @{
                    //
                }

                $('#alert').hide();

                var data =  JSON.stringify({ '@nameof(Model.Filename)': '@Model.Filename', '@nameof(Model.Text)': contents });

                fetch("Home/Save",{
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: data
                })
                .then((response) => response.json())
                .then((json) => {
                    console.log("response: "+json);
                    $('#alert').html("response: "+json);
                    $('#alert').show();
                })
                .catch((error) => {
                    console.log("Error: "+error);
                    $('#alert').html("Error: "+error);
                    $('#alert').show();
                });

             });

         });

        function htmlDecode(input) {
           var doc = new DOMParser().parseFromString(input, "text/html");
           return doc.documentElement.textContent;
        }



        function Save(contents) {
        }


    </script>
</body>
</html>
